<!DOCTYPE html>
<html>
<head>
  <title>LocalGoods</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="wrapper">

    <!--top left Logo-->
    <article class="one_third">
      <div class="logo">
        <%= link_to image_tag('logo.jpg'), root_path, relative: true %>

      </div>
    </article>

    <!--top Quick Links-->
    <article class="one_third">
      <div class="quick_links">
        <span class="space_between_links"><%= link_to "Link", root_path %></span>
        <span class="space_between_links"><%= link_to "Link", root_path %></span>
        <span class="space_between_links"><%= link_to "Link", root_path %></span>
        <span class="space_between_links"><%= link_to "Link", root_path %></span>
      </div>
    </article>


      <!--else not logged in-->
      <article class="one_third">
        <div class="join_signin_buttons">

          <span class="space_between_links"><%= link_to "Join", new_registration_path %> </span>
          <span class="space_between_links"><%= link_to "SignIn", signin_path %></span>

        </div>
      </article>





  </div>
</header>


<div id="content">

  <!--Homepage Main-->


  <div class="homepage_main">

    <h1>Looking For <br> Local Goods?</h1>
    <h2>Find them here!</h2>

    <form action="">
      <input class="input_home_main" id="search" type="text" name="search">
      <input type="submit" value="Search">
    </form>
  </div>








  <div class="wrapper">

    <!--1/4-->
    <section class="clearfix">



      <%= yield %>



    </section>

  </div><!--end wrapper-->
</div><!--end content-->


<footer>
  <div class="wrapper">
    Footer Here
  </div><!--end wrapper-->
</footer>

</body>
</html>
